@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html, body {
  height: 100%;
}

body{
  font-family: Roboto, sans-serif;
  margin: 0;
  background: #aaa;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: white;
  width: 480px;
  border-radius: 10px;
  box-shadow: 2px 4px 16px green;
  display: flex;
  gap: 16px;
  padding: 16px;
}

.icon {
  color: blue;
  font-size: 26px;
  font-weight: 700;
  background: greenyellow;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.close-button {
  background: #eee;
  border-radius: 50%;
  color: #888;
  font-size: 16px;
  font-weight: 800;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #eee;
  padding: 0;
}

button {
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 8px;
}

button.continue {
  background: royalblue;
  color: white;
  border: 1px solid #ddd;
}

button.cancel {
  background: white;
  color: royalblue;
  border: 2px solid #ddd;
}

.header {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  margin-bottom: 16px;
}